<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993610872464-l2e2lej5nsr3m97svl8d0g75bbjcgn4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993610872464-l2e2lej5nsr3m97svl8d0g75bbjcgn4u</string>
	<key>API_KEY</key>
	<string>AIzaSyCzO5zigo4232tyJtpsrXx1nYjpMVfHiJA</string>
	<key>GCM_SENDER_ID</key>
	<string>993610872464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>paulking-d0c51</string>
	<key>STORAGE_BUCKET</key>
	<string>paulking-d0c51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993610872464:ios:dcaa49ba5ba98acd348a15</string>
</dict>
</plist>